<!-- Balise SDK JS -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v11.0&appId=178746778867547&autoLogAppEvents=1" nonce="tnCoDuqx"></script>
<!-- End Balise SDK JS -->

<div class="bck-img">
  <div class="inner-text">
    <h1><%= @florist.name %></h1>
    <h2 style="font-weight: 300;font-size: 1em;">Créateur de vos Émotions</h2>
  </div>
</div>

<div class="home-section-2">
  <div class="home-s2-left">
    <h2>Commandez et faites vous livrer en points relais</h2>
    <p>Grâce à nos partenaires, commandez directement vos bouquets sur notre site et de vous le faire livrer directement dans le point relais le plus proche. Les bouquets sont réalisés et livrés pour le lendemain avec des fleurs fraîches. La livraison est gratuite !</p>
  </div>
  <div class="home-s2-right">
    <div id="map"
      style="width: 100%; height: 300px;"
      data-markers="<%#= @markers.to_json %>"
      data-mapbox-api-key="<%#= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <!-- <div class="map-test" style="height:300px;width:100%">
    </div> -->
  </div>
</div>

<div class="home-section-3">
  <div class="card-wrap">
    <% @compositions.each do |composition| %>
      <%= link_to composition_path(composition) do %>
        <div class="green-border-card">
          <%= image_tag composition.get_image_tag, alt: "#{composition.photo_title}" %>
          <h3><%= composition.name %></h3>
          <div class="card-price">
            <p><%= composition.price %>€</p>
          </div>
          <p>à partir de</p>
          <div class="green-square"></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="home-section-4">
  <div class="home-s4-left">
    <h2>Retrouvez toutes nos actualités sur Facebook</h2>
    <div class="feed-fb">
      <div class="first-feed-fb">
        <%#= @florist.feed_fb.first %>
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FFleursdeprovencesaintpaultroischateaux%2Fposts%2F476914357085906&show_text=true&width=300" width="300" height="300" style="border:none;overflow:hidden" scrolling="auto" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
      </div>
      <div class="second-feed-fb">
        <%#= @florist.feed_fb.second %>
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FFleursdeprovencesaintpaultroischateaux%2Fposts%2F476653003778708&show_text=true&width=300" width="300" height="300" style="border:none;overflow:hidden" scrolling="auto" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
      </div>
    </div>
  </div>
  <div class="home-s4-right">

    <!-- START Facebook result API-->
    <div id="fb-root"></div>
    <script async="1" defer="1" crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&amp;version=v12.0" nonce="dpbw7etR"></script>
    <div class="fb-page" data-href="https://www.facebook.com/Fleursdeprovencesaintpaultroischateaux?fields=posts" data-small-header="true" data-adapt-container-width="1" data-hide-cover="" data-show-facepile="1" data-show-posts="1">
      <blockquote cite="https://www.facebook.com/Fleursdeprovencesaintpaultroischateaux?fields=posts" class="fb-xfbml-parse-ignore">
        <a href="https://www.facebook.com/Fleursdeprovencesaintpaultroischateaux?fields=posts">Fleurs De Provence</a>
      </blockquote>
    </div>
    <!-- END Facebook result Api-->

  </div>
</div>

<div class="home-section-5">
  <div class="home-s5-left">
    <h2>Une confiance partagée depuis 1991</h2>
    <div class="home-google">
      <div class="mapouter">
        <div class="gmap_canvas">
          <iframe width="500" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=Fleurs%20de%20provence,%2012%20Rue%20du%20serre%20blanc,&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
      </div>
    </div>

  </div>
  <div class="home-s5-right">
    <%= cl_image_tag("11_dwjrnw") %>
  </div>
</div>
