<ul>
  <li> <%= link_to "Accueil", root_path %></li>
  <li> <%= link_to "composition", root_path %></li>
  <li> <%= link_to "Évènement", root_path %></li>
  <li> <%= link_to "Contact", root_path %></li>
</ul>

<h1>Coucou c'est la Home de Florist</h1>
<h3><%= @florist.name %></h3>
<h3><%= @florist.address %></h3>
<h3><%= @florist.latitude %></h3>
<h3><%= @florist.longitude %></h3>

<div id="map"
     style="width: 100%; height: 400px; border: 2px solid gray;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
