<!-- <h1 style="text-align:center;font-size:1em">Page Accueil</h1> -->

<!-- Script facebook -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '271026502963979',
      cookie     : true,
      xfbml      : true,
      version    : 'v11.0'
    });

    FB.AppEvents.logPageView();

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<!-- End Script facebook -->

<!-- Balise SDK JS -->
<!-- <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v11.0&appId=178746778867547&autoLogAppEvents=1" nonce="tnCoDuqx"></script> -->
<!-- End Balise SDK JS -->

<div class="bck-img">
  <div class="inner-text">
    <h1><%= @florist.name %></h1>
    <h2 style="font-weight: 300;font-size: 1em;">Créateur de vos Émotions</h2>
  </div>
</div>

<div class="home-section-2">
  <div class="home-s2-left">
    <h2>Commandez et faites vous livrer en points relais</h2>
    <p>Grâce à nos partenaires, commandez directement vos bouquets sur notre site et de vous le faire livrer directement dans le point relais le plus proche. Les bouquets sont réalisés et livrés pour le lendemain avec des fleurs fraîches. La livraison est gratuite !</p>
  </div>
  <div class="home-s2-right">
    <div id="map"
      style="width: 100%; height: 300px;"
      data-markers="<%#= @markers.to_json %>"
      data-mapbox-api-key="<%#= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <!-- <div class="map-test" style="height:300px;width:100%">
    </div> -->
  </div>
</div>

<div class="home-section-3">
  <div class="card-wrap">
    <% @compos.each do |c| %>
      <%#=  %>
      <a href=<%"#{composition_path(c.id)}"%>>
        <div class="green-border-card">
          <%= image_tag c.get_image_tag, alt: "photo_title" %>
          <h3><%= c.name %></h3>
          <div class="card-price">
            <p><%= c.price %>€</p>
          </div>
          <p>à partir de</p>
          <div class="green-square"></div>
        </div>
      </a>
    <% end %>
    <!-- <a href="#">
      <div class="green-border-card">
        <%#=image_tag('bouquet3')%>
        <h3>Nom du bouquet</h3>
        <div class="card-price">
          <p>30€</p>
        </div>
        <p>à partir de</p>
        <div class="green-square"></div>
      </div>
    </a> -->
  </div>
</div>

<div class="home-section-4">
  <div class="home-s4-left">
    <h2>Retrouvez toutes nos actualités sur Facebook</h2>
    <div class="feed-fb">
      <div class="first-feed-fb">
        <button onclick='FB.AppEvents.logEvent("buttonClicked")'>
          Click me
        </button>
        <!-- <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fvingtxvingt%2Fposts%2F149909360215293&show_text=true" width="500" height="613" style="border:none;" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe> -->
      </div>
      <div class="second-feed-fb">
        <!-- <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fvingtxvingt%2Fposts%2F123042282902001&show_text=true" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe> -->
      </div>
    </div>
  </div>
  <div class="home-s4-right">
    <div class="flex-fb">
      <div  class="fb-page"
            data-href="https://www.facebook.com/Fleursdeprovencesaintpaultroischateaux"
            data-tabs="timeline"
            data-width="400"
            data-height=""
            data-small-header="false"
            data-adapt-container-width="false"
            data-hide-cover="false"
            data-show-facepile="false">
        <blockquote cite="https://www.facebook.com/Fleursdeprovencesaintpaultroischateaux"
                    class="fb-xfbml-parse-ignore">
          <a href="https://www.facebook.com/Fleursdeprovencesaintpaultroischateaux">Fleurs De Provence</a>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<div class="home-section-5">
  <div class="home-s5-left">
    <h2>Une confiance partagée depuis 1991</h2>
    <div class="home-google">
      https://mybusiness.googleapis.com/v4/accounts/{accountId}/locations/{locationId}/reviews/{reviewId}
    </div>

  </div>
  <div class="home-s5-right">
    <%= cl_image_tag("11_dwjrnw") %>
    <%#= image_tag '11' %>
  </div>
</div>
