<h1 style="text-align:center;font-size:1em">Page index Composition</h1>

<div class="compo-section-1">
  <div class="compo-s1-left">
    <h2>Commandez et faites vous livrer en points relais</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
  </div>
  <div class="compo-s1-right">
    <div class="image">Image</div>
  </div>
</div>

<div class="compo-section-2">
  <div class="card-wrap">
    <a href="#">
      <div class="green-border-card">
        <%= @compo.each do |c| %>
          <%= c %>
          <%= c.name %>
        <% end %>
        <%#= image_tag Composition.first.get_image_tag, alt: "#{Composition.first.name}" %>
        <%#= image_tag('bouquet3') %>
        <h3><%#= Composition.name %></h3>
        <div class="card-price">
          <p><%#= Composition.price %>€</p>
        </div>
        <p>à partir de</p>
        <div class="green-square"></div>
      </div>
    </a>
    <a href="#">
      <div class="green-border-card">
        <%=image_tag('bouquet3')%>
        <h3>Nom du bouquet</h3>
        <div class="card-price">
          <p>30€</p>
        </div>
        <p>à partir de</p>
        <div class="green-square"></div>
      </div>
    </a>
    <a href="#">
      <div class="green-border-card">
        <%=image_tag('bouquet3')%>
        <h3>Nom du bouquet</h3>
        <div class="card-price">
          <p>30€</p>
        </div>
        <p>à partir de</p>
        <div class="green-square"></div>
      </div>
    </a>
    <a href="#">
      <div class="green-border-card">
        <%=image_tag('bouquet3')%>
        <h3>Nom du bouquet</h3>
        <div class="card-price">
          <p>30€</p>
        </div>
        <p>à partir de</p>
        <div class="green-square"></div>
      </div>
    </a>
    <a href="#">
      <div class="green-border-card">
        <%=image_tag('bouquet3')%>
        <h3>Nom du bouquet</h3>
        <div class="card-price">
          <p>30€</p>
        </div>
        <p>à partir de</p>
        <div class="green-square"></div>
      </div>
    </a>
    <a href="#">
      <div class="green-border-card">
        <%=image_tag('bouquet3')%>
        <h3>Nom du bouquet</h3>
        <div class="card-price">
          <p>30€</p>
        </div>
        <p>à partir de</p>
        <div class="green-square"></div>
      </div>
    </a>
    <a href="#">
      <div class="green-border-card">
        <%=image_tag('bouquet3')%>
        <h3>Nom du bouquet</h3>
        <div class="card-price">
          <p>30€</p>
        </div>
        <p>à partir de</p>
        <div class="green-square"></div>
      </div>
    </a>
    <a href="#">
      <div class="green-border-card">
        <%=image_tag('bouquet3')%>
        <h3>Nom du bouquet</h3>
        <div class="card-price">
          <p>30€</p>
        </div>
        <p>à partir de</p>
        <div class="green-square"></div>
      </div>
    </a>
  </div>
</div>
