<div class="compo-section-1">
  <div class="compo-s1-left">
    <% @composition.product.images.map do |image| %>
      <img src=<%= image %> alt='<%= @composition.product.name %>'></img>
    <% end %>
    <h2 id="price"><%= @composition.unit_amount/100 %>€</h2>
  </div>
  <div class="compo-s1-right">
    <h2><%= @composition.product.name %></h2>
    <p><%= @composition.product.description %></p></br>
    <div class="compo-size">
      <div class="compo-size-text">
        <p>Taille du bouquet</p>
        <p>Guide des tailles</p>
      </div>

    <%= form_with(url:orders_path) do |form| %>
      <%= hidden_field_tag 'composition_id', @composition.id %>
      <% @sorted = @compositionsProduct.sort_by { |hash| hash[:nickname] }.reverse %>
      <div class="compo-size-letter">
        <% @sorted.map do |compoPrice| %>
            <%= link_to "#{compoPrice.nickname}", composition_path(compoPrice.id), class:"size-letter" %>
        <% end %>
      </div>
    </div>
      <p>Sélectionnez votre point de retrait</p>
      <!-- <div class="profile" data-activity-id="<%#= @relai.id %>"> -->
        <%#= @relai.id %>
        <%= form.collection_select :relai_id, @relais, :id, :name, {prompt: "Points relais"}, { html_options: 'data-relai-id = #{:relai_id}'} %> </br>
      <!-- </div> -->
      <%= form.submit 'Acheter', params: {id: @composition.id}, remote: true, class: 'app-form-button' %>
    <% end %><br><br>
      <div id="map"
        style="width: 100%; height: 300px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

  </div>
</div>

      <%#= fields_for :customer do |customer| %>
        <%#= customer.text_field :lastname, placeholder: 'Votre Nom' %>
        <%#= customer.text_field :firstname, placeholder: 'votre Prénom' %>
      <%# end %>

      <%#= f.fields_for :order do |ff| %>
        <%#= ff.collection_select :relai, @relais, :id, :name %>
        <%#= ff.association :relai, @relais, :relai_id, :name %>
        <%#= ff.label :relai %>
        <%#= ff.text_field :composition %>
      <%# end %>

      <%#= f.fields_for :composition do |f| %>
        <%#= f.label :composition %>
        <%#= f.association :composition, @compositions, [:id], :name %>
      <%# end %>
