<footer>
  <div class="placing_footer">
    <div class="footer part_1">
      <%= link_to root_path do %>
        <li>Accueil</li>
      <% end %>
      <%= link_to compositions_path do %>
        <li>Compositions</li>
      <% end %>
      <%= link_to evenement_path do %>
        <li>Évènement</li>
      <% end %>
      <%= link_to new_contact_path do %>
        <li>Contact</li>
      <% end %>
    </div>
    <div class="footer part_2">
      <a href="https://www.facebook.com/FleuresdeProvence/">
        <li>Facebook</li>
      </a>
      <a href="https://www.instagram.com/fleursdeprovence_">
        <li>instagram</li>
      </a>
    </div>
    <div class="footer part_3">
      <%#= link_to florist_cgv_path(@florist) do %>
      <%= link_to cgv_path do %>
        <li>Condition Générale de vente</li>
      <% end %>
      <%= link_to fidelity_path do %>
        <li>Carte de Fidélité</li>
        <% end %>
      </a>
      <%= link_to policy_path do %>
        <li>Politique de Confidentialité</li>
      <% end %>
      </a>
      <a href="#">
        <li>Plan du site</li>
      </a>
    </div>
  </div>
  <p>Fleurs de Provence® 2021 - Création Jonathan Coz</p>
</footer>
