<div id="navbar">
  <ul>
    <!-- <a href="#{root_path}"> -->
      <%= link_to root_path do %>
        <%= cl_image_tag("logo_fdp") %>
      <% end %>
    </a>
    <div class="page_links">
      <%= link_to "Accueil", root_path %>
      <%= link_to "Compositions", compositions_path %>
      <%= link_to "Évènement", evenement_path %>
      <%= link_to "Contact", new_contact_path %>
    </div>
  </ul>
</div>
