<div id="navbar">
  <ul>
    <a href="#">
      <%= cl_image_tag("logo_zxaijj") %>
      <%#=image_tag('logo', alt: "Logo Fleurs de Provence")%>
    </a>
    <div class="page_links">
      <%= link_to "Accueil", root_path %>
      <%= link_to "Compositions", compositions_path %>
      <%= link_to "Évènement", evenement_path %>
      <%= link_to "Contact", new_contact_path %>
    </div>
  </ul>
</div>
