<div class="compo-section-1">
  <div class="compo-s1-left">
    <%= cl_image_tag image_path(@composition.photo_title), alt: "#{@composition.photo_title}" %>
    <h2 id="price"><%= @composition.base_price %></h2><h2>€</h2>
  </div>
  <div class="compo-s1-right">
    <h2><%= @composition.name %></h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    <div class="compo-size">
      <div class="compo-size-text">
        <p>Taille du bouquet</p>
        <p>Guide des tailles</p>
      </div>
    </div>

    <%= form_with(model: @order, url: composition_orders_path(@composition), local: true) do |compo| %>
      <%= compo.hidden_field :id %>
      <%#= compo.hidden_field :composition_id %>

      <%# priceBySize = {'S' => @composition.base_price, 'M' => @composition.base_price+10, 'L' => @composition.base_price+20} %>
      <%# priceBySize.each do |s| %>
        <%#= s.radio_button :size, size[0] %>
        <!-- <label for="<%#= size[1] %>"><%#= size[0] %></label> -->
      <%# end %>

      <%#= compo.label :size, "Taille" %>
      <%#= compo.select :size, [["S", "#{@composition.base_price}"], ["M", "#{@composition.base_price+10}"], ["L", "#{@composition.base_price+20}"]], {}, id:'size' %>
      <%#= compo.collection_select :composition_id, @composition.size, @composition.size, id:'size' %>

      <%#= fields_for :size do |fsize| %>
        <%#= fsize.radio_button :size %>
      <%# end %>

      <%= compo.label :size, 'S' %>
      <%= compo.radio_button :size, @composition.size[0], checked: true %>

      <%= compo.label :size, 'M' %>
      <%= compo.radio_button :size, @composition.size[1] %>

      <%= compo.label :size, 'L' %>
      <%= compo.radio_button :size, @composition.size[2] %>
      <br>
      <br>Composition.size : <%= @composition.size %>
      <br>
      <p>Sélectionnez votre point de retrait</p>
      <%= compo.collection_select :relai_id, @relais, :id, :name %>
      <br>
      <%#= fields_for :customer do |customer| %>
        <%#= customer.text_field :lastname, placeholder: 'Votre Nom' %>
        <%#= customer.text_field :firstname, placeholder: 'votre Prénom' %>
      <%# end %>

      <%= compo.collection_select :composition_id, @compositions, :id, :name, {selected: @composition.id}, {class: "no-display"} %>
      <%= compo.submit "MAIL", class: "app-form-button" %>

      <div id="map"
        style="width: 100%; height: 300px;"
        data-markers="<%#= @markers.to_json %>"
        data-mapbox-api-key="<%#= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <%#= f.submit "Acheter", class: "app-form-button no-display" %>
      <%#= f.submit "Mailed", class: "app-form-button" %>


    <% case @composition.id %>
      <% when 1 %>
        <div id="price-id-s" class='app-form-button'><%= link_to 'Acheter', 'https://buy.stripe.com/test_fZe5nD4AHfuA4yA147' %></div>
        <div id="price-id-m" class='app-form-button'><%= link_to 'Acheter', 'https://buy.stripe.com/test_5kA7vL3wDbekc123ce' %></div>
        <div id="price-id-l" class='app-form-button'><%= link_to 'Acheter', 'https://buy.stripe.com/test_dR67vLffleqw5CEaEI' %></div>
      <% when 2 %>
        <div id="price-id-s" class='app-form-button'><%= link_to 'Acheter', 'https://buy.stripe.com/test_3cs6rHaZ5dmse9adQV' %></div>
        <div id="price-id-m" class='app-form-button'><%= link_to 'Acheter', 'https://buy.stripe.com/test_00g6rH2sz828aWYaEE' %></div>
        <div id="price-id-l" class='app-form-button'><%= link_to 'Acheter', 'https://buy.stripe.com/test_8wM3fv9V1gyE9SU6op' %></div>
      <% when 3 %>
        <div id="price-id-s" class='app-form-button'><%= link_to 'Acheter', 'https://buy.stripe.com/test_eVa8zPaZ52HO2qs4go' %></div>
        <div id="price-id-m" class='app-form-button'><%= link_to 'Acheter', 'https://buy.stripe.com/test_bIY2br7MT8289SU14d' %></div>
        <div id="price-id-l" class='app-form-button'><%= link_to 'Acheter', 'https://buy.stripe.com/test_3cs9DT8QXaag2qseV1' %></div>
    <% end  %>
  <% end %>

  </div>
</div>

<%#= render partial: "pay/stripe/checkout_button", locals: {session: @checkout_session, title: "Acheter"} %>

<!-- A mettre sur view Home et view Compositions -->
<%# if @composition.disponibility == true %>
  <%#=  %>
<%# else %>
  <%#=  %>
<%# end %>

      <%#= f.fields_for :order do |ff| %>
        <%#= ff.collection_select :relai, @relais, :id, :name %>
        <%#= ff.association :relai, @relais, :relai_id, :name %>
        <%#= ff.label :relai %>
        <%#= ff.text_field :composition %>
      <%# end %>

      <%#= f.fields_for :composition do |f| %>
        <%#= f.label :composition %>
        <%#= f.association :composition, @compositions, [:id], :name %>
      <%# end %>
