<h1 style="text-align:center;font-size:1em">Page new Contact</h1>

<div class="container">
  <div class="screen">
    <div class="screen-body">
      <div class="screen-body-item left">
        <div class="app-title">
          <span>CONTACTEZ</span>
          <span>NOUS</span>
        </div>
        <div class="app-contact">
          <li>
            <i class="fas fa-home"></i>
            <p>12 rue du Serre Blanc,<br>
            Saint Paul 3 Châteaux</p>
          </li>
          <li>
            <i class="fas fa-phone-alt"></i>
              <p><span class="rev phone">57</span></p>
          </li>
          <li>
            <i class="fas fa-envelope"></i>
            <p>sarl.vdb@wanadoo.fr</p>
          </li>

          <div class="contact-horaire">
            Horaires d’ouverture au public
            Mardi au samedi
            13h à 19h30

            <div class="contact-more">
              <p>Le matin étant réservé exclusivement aux entreprises</p>
            </div>
          </div>
          <%#= image_tag '1' %>
        </div>
      </div>
      <div class="screen-body-item right">
        <!-- Formulaire qui prend le prénom, nom, téléphone et email du contact et qui l'envoie par mail -->
        <%#= form_with model: @contact, url: florist_contact_path(@florist), method: "post" do |f| %>
        <%= form_with(model: @contact, local: true) do |f| %>
          <%= f.text_field :firstname, placeholder: 'PRÉNOM' %> <!-- , html: {class: "app-form-name app-form-control"} -->
          <%= f.text_field :lastname, placeholder: 'NOM' %> <!-- , html: {class: "app-form-name app-form-control"} -->
          <%= f.email_field :email, placeholder: 'EMAIL' %> <!-- , html: {class: "app-form-group app-form-control"} -->
          <%= f.phone_field :phone, placeholder: 'TÉLÉPHONE' %> <!-- , html: {class: "app-form-group app-form-control"} -->
          <%= f.text_field :content, placeholder: 'MESSAGE' %> <!-- , html: {class: "app-form-group message app-form-control"} -->
          <%= f.submit "Envoyer" %>
        <% end %>

      </div>
    </div>
  </div>
</div>
