<div class="container">
  <div class="screen">
    <div class="screen-body">
      <div class="screen-body-item left">
        <div class="app-title">
          <span>CONTACTEZ</span>
          <span>NOUS</span>
        </div>
        <div class="app-contact">
          <li>
            <i class="fas fa-home"></i>
            <p>12 rue du Serre Blanc,<br>
            Saint Paul 3 Châteaux</p>
          </li>
          <li>
            <i class="fas fa-phone-alt"></i>
              <p><span class="rev phone">57</span></p>
          </li>
          <li>
            <i class="fas fa-envelope"></i>
            <p>sarl.vdb@wanadoo.fr</p>
          </li>

          <div class="contact-horaire">
            Horaires d’ouverture au public
            Mardi au samedi
            13h à 19h30

            <div class="contact-more">
              <p>Le matin étant réservé exclusivement aux entreprises</p>
            </div>
          </div>
          <%#= image_tag '1' %>
        </div>
      </div>
      <div class="screen-body-item right">
        <%= form_with(model: @contact, local: true) do |f| %>
          <%= f.text_field :firstname, placeholder: 'PRÉNOM', class: "app-form-name app-form-control" %>
          <%= f.text_field :lastname, placeholder: 'NOM', class: "app-form-name app-form-control" %>
          <%= f.email_field :email, placeholder: 'EMAIL', class: "app-form-group app-form-control" %>
          <%= f.phone_field :phone, placeholder: 'TÉLÉPHONE', class: "app-form-group app-form-control" %>
          <%= f.text_field :content, placeholder: 'MESSAGE', class: "app-form-group message app-form-control" %>
          <%= f.submit "Envoyer", class: "app-form-button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
