<h3>Id de la commande : <%= @order.id %></h3><br>

<h3>KB<%= @order.customer_details.email %>, a commandé sur www.fleursdeprovence.fr !</h3>
<br>
-> Email de l'acheteur : <%= @order.customer_details.email %><br>
-> Prix : <%= @order.amount_total/100 %><br>
Nom de la composition : <br>
Taille de la composition : <%#= @order.size.name %><br>
Relais choisi : <%#= @order.relai.name %><br>
<br>
Nom de la personne qui a commandé : <%#= @order.billing_details.name %><br>
Téléphone de l'acheteur : <%#= @order.customer_details.phone %><br>


test : <%= @order.customer %>
