<!-- <h3>M/Mme <%#= @order.customer.firstname %>, <%#= @order.customer.lastname %> a commandé sur www.fleursdeprovence.fr !</h3> -->

<h3><%= @order.composition.name %><br>
Prix : <%= @order.composition.base_price %><br>
Taille : <%= @order.composition.size %><br>
Relais: <%= @order.relai.name %> </h3>
@order: <%= @order %>
@order.composition <%= @order.composition %>
