<h3>ID N° <%= @order.id %></h3><br>

<h3>Mr/Mme <%= @order.customer.name %>, a commandé sur www.fleursdeprovence.fr !</h3>
<br>
-> Email de l'acheteur : <%= @order.customer_details.email %><br>
-> Prix : <%= @order.amount_total/100 %><br>
-> Nom de la composition : <%#= @order.line_items.name %><br>
line_items : <%= @order.line_items %> <br>
<hr>
id composition: <%#= @order.line_items.data.id %> <br>
<hr>
object composition: <%#= @order.line_items.data.object %> <br>
<hr>
price object composition: <%#= @order.line_items.data.price.id %> <br>
<hr>
price object composition: <%#= @order.line_items.data.price.object %> <br>
<hr>
price nickname composition: <%#= @order.line_items.data.price.nickname %> <br>
<hr>
nom composition: <%#= @order.line_items.data[:description] %> <br>
<hr>
line_items : <%#= @order.line_items.data[:description][:price] %> <br>
<hr>
line_items : <%#= @order.line_items.data[:price][:id] %> <br>
<hr>
<!-- Taille de la composition : <%#= @order.line_items. %><br> -->
Relais choisi : <%#= @order.relai.name %><br>
<br>
Nom de la personne qui a commandé : <%#= @order.billing_details.name %><br>
Téléphone de l'acheteur : <%#= @order.customer_details.phone %><br>

<%= session %>


<!-- test @composition: <%#= @composition %>
test prix : <%#= @order.line_items.price.id %>
test image : <%#= @order.line_items.images[0] %>
test image : <%#= @order.line_items.images.first %> -->
jonathan.vanderbosse@wanadoo.fr
